[build-system]
    requires = ["setuptools>=61.0"]
    build-backend = "setuptools.build_meta"

[project]
    name = "component_model"
    version = "0.0.1"
    description = "Constructs a Functional Mockup Interface component model from a python script (fulfilling some requirements)"
    authors = [
        {name = "Siegfried Eisinger", email = "Siegfried.Eisinger@DNV.com"},
    ]
    readme = "README.rst"
    requires-python = ">=3.10.10"
    keywords = ["simulation", "model", "FMI", "OSP"]
    license = {text = "BSD-3-Clause"}
    classifiers = [
        "Programming Language :: Python :: 3",
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent",
    ]
    dependencies = [
        "pint>=0.22",
        "pythonfmu>=0.6.3",
        "numpy>=1.24.2",
#        'importlib-metadata; python_version<"3.8"',
    ]
    #dynamic = ["version"]

    [project.optional-dependencies]
        modelTest = ["FMPy>=3.9", "matplotlib>=3.7.1"]
        rest = ["docutils>=0.3", "pack ==1.1, ==1.3"]
        editor = ["thonny>=4.0.2"]




